# [submodule "themes/anatole"]
# 	path = themes/anatole
# 	url = https://github.com/victorprouff/anatole.git

# [submodule "themes/awesome"]
# 	path = themes/awesome
# 	url = https://github.com/victorprouff/hugo-blog-awesome.git
