// Personnalisation
// Centrer les images
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote, .alert-info {
    border-left: 4px solid #3498db;
    border-radius: 5px;
    background-color: #3498db47;
    padding-left: 1em;
    color: black;

    h1, h2, h3, h4 {
        color: #0969da
    }
    
    h1::before, h2::before, h3::before, h4::before {
        content: "🖋️ ";
    }
}

.alert-tip {
    border-left: 4px solid #1a7f37;
    border-radius: 5px;
    background-color: #dafbe1;
    padding-left: 1em;
    color: black;

    h1, h2, h3, h4 {
        color: #1a7f37
    }
    
    h1::before, h2::before, h3::before, h4::before {
        content: "✅ ";
    }
}

.alert-warning {
    border-left: 4px solid #e9973f;
    border-radius: 5px;
    background-color: #e9973f47;
    padding-left: 1em;
    color: black;

    h1, h2, h3, h4 {
        color: #e9973f
    }
    
    h1::before, h2::before, h3::before, h4::before {
        content: "⚠️ ";
    }
}

.alert-caution {
    border-left: 4px solid #ed4448;
    border-radius: 5px;
    background-color: #ed444847;
    padding-left: 1em;
    color: black;

    h1, h2, h3, h4 {
        color: #ed4448
    }
    
    h1::before, h2::before, h3::before, h4::before {
        content: "❌ ";
    }
}
