{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
                {{ with .Date }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <div class="post-meta">
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format $configDateFormat }} </time>
                </div>
                {{ end }}
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </article>
        <!-- {{- partial "comments.html" . -}} -->
        <div id="graphcomment"></div>
        <script type="text/javascript">

        /* - - - CONFIGURATION VARIABLES - - - */

        var __semio__params = {
            graphcommentId: "blogvictorprouff", // make sure the id is yours

            behaviour: {
            // HIGHLY RECOMMENDED
            //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
            },

            // configure your variables here

        }

        /* - - - DON'T EDIT BELOW THIS LINE - - - */

        function __semio__onload() {
            __semio__gc_graphlogin(__semio__params)
        }


        (function() {
            var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
            gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
        })();
        

        </script>
    </main>
</div>
{{ end }}
