.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
.wrapper__main {
    width: 100%;
} */
/* @media screen and (min-width: 961px) {
    .wrapper__main {
        width: calc(0.6 * 100%);
    }
}
@media screen and (min-width: 1921px) {
    .wrapper__main {
        width: calc(0.6 * 80%);
    }
}
.wrapper__main--fullscreen {
    margin-top: 20px;
}
@media screen and (min-width: 961px) {
    .wrapper__main--fullscreen {
        width: 100%;
        margin-top: 0;
    }
}
@media screen and (min-width: 1921px) {
    .wrapper__main--fullscreen {
        width: 1920px;
    }
} */

/* .wrapper__sidebar {
    width: 60%;
    padding: 16px 0;
} */
/* @media screen and (min-width: 961px) {
    .wrapper__sidebar {
        width: calc(calc(1 - 0.6) * 100%);
        padding: 0;
    }
}
@media screen and (min-width: 1921px) {
    .wrapper__sidebar {
        width: calc(calc(1 - 0.6) * 80%);
    }
} */

/* .sidebar {
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: var(--bg-color);
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    border-right: 1px solid var(--border-color);
}

.content {
    height: auto;
    float: right;
    width: 80%;
    margin-top: 60px;
}

.page-top {
    width: 80%;
    position: fixed;
    right: 0;
    z-index: 3;
    background-color: var(--bg-color);
    height: 60px;
    border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 960px), print {
    .sidebar {
        width: 100%;
        position: absolute;
        border-right: none;
        z-index: 1;
    }
    .content {
        margin-top: 420px;
        width: 100%;
        z-index: 2;
        position: absolute;
    }
    .page-top {
        width: 100%;
    }
} */
